.align-block{
    text-align: center;
    .align-item{
        text-align: center;
        margin-top: 10px;
    }
    .align-check{
        text-align: center;
        margin-top: 10px;
        margin-left: 30%;
    }
    .margin-item{
        margin-top: 10%;
    }
}
.img-logo{
    width: 20%;
    height: auto;
    margin-bottom: 20%;
}

.button_cancel{
    margin-top: 20%;
    margin-right: 10%;
}

.button_valid{
    margin-top: 20%;
    margin-left: 10%;
}